.nav-pills{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-color: #050A30;

    position: fixed;
    width: 100%;
    top: 0px;


}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header-img{
    width: 200px;
    height:150px;
  }
  
  #header {
    width: 100%;
    display: block;
    align-items: center;
    position: fixed;
    background-color: #fff;
    top: 0px;
 


  
  }
  
  ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
   
  }
  
  a{
    text-decoration: none;
    color: whitesmoke;
     display: inline;
    text-decoration: none;
}

  
  a:hover{
    background-color: #ccc;
    border-radius: 10px;
    padding: 0px 5px;
    transition: 0.3s;

  
  }
  projects-bar{
    width: 100%;
    align-items: center;
    margin: auto;

    
  }
  

#welcome-section{
    height: 100vh;
    text-align: center;
    margin: auto;
    
    background-image: url(http://images.unsplash.com/photo-1545665277-5937489579f2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydGZvbGlvfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
    background-repeat: no-repeat;
    
    background-size: 100% 100%;

    overflow: hidden;
    align-items: center;


}
 .project-tile:hover{
  background-color: #aaa;
  border-radius: 10px;
  padding: 0px 5px;
  transition: 0.3s;
 }

.portfolio-img{
    width: 300px;
    height: 300px;
    display: inline;
    margin: auto;

    padding: 20px;
    align-self: center;

    

}

#projects{
  width: 100%;
  background-color: #00005c;
  align-items: center;
  display: block;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

#project-bar{

  align-items: center;
  text-align: center;

}

h1{
  color: whitesmoke;
  margin: auto;
  margin-top: 25vh;
  padding: 0px 40px;
  font-size: 70px;
  background-color: #000080;
  width: fit-content;
  border-radius: 50px;


}
 h3{
  color: whitesmoke;
  font-size: 35px;
  text-align: center;
  padding: 15px;
    

 }
p{
  align-self: center;
  color: whitesmoke;
  margin: auto;
  margin-top: 20px;
  padding: 0px;
  font-size: 30px;

}
 #contacts{
  width: 100%;
  height: 50vh;
  display: block;
  align-items: center;

  background-color: #fff;
  top: 0px;
  margin: auto;
  margin-top: 15vh;




 }
figcaption{
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 0px;
}



.contact-img{
  width: 100px;
  height: 100px;
  display: inline;
  margin: auto;

  padding: 20px;
  align-self: center;
}

hr{
  border: 1px solid black;
  width: 90%;
  
}
.contact-title{
  color: black;
  text-align: center;
}

footer{
  background-color:  #050A30;
  width: 100%;
  height:7vh;
  text-align: center;
  color: whitesmoke;
  padding: 4px;
}

@media only-screen and(max-width:600px){
#projects-bar{
  position: inherit;
  display: flex;
}
.portfolio-img{
width: 150px;
height: 150px;
display: flex;
}
}